<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создать бронь</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/new}" th:object="${book}">
  <p th:text="${'Id комнаты: ' + book.getRoomId()}"></p>
  <label for="roomId">ID комнаты</label>
  <input type="number" th:field="*{roomId}" id="roomId"/>
  <div style="color:red" th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}">roomId error</div>
  <br/>
  <label for="checkIn">Введите дату въезда</label>
  <input type="date" th:date="${#temporals.format(localDateTime, 'dd-MM-yyyy')}" th:field="*{checkIn}" id="checkIn"/>
  <div style="color:red" th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}">checkIn error</div>
  <br/>
  <label for="checkIn">Введите дату выезда</label>
  <input type="date" th:date="${#temporals.format(localDateTime, 'dd-MM-yyyy')}" th:field="*{checkOut}" id="checkOut"/>
  <div style="color:red" th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}">checkOut error</div>
  <br/>
  <hr/>
  <input type="submit" value="Создать"/>
  <br>
</form>
<a href="/hotel/all">Все отели</a>
</body>
</html>