<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring boot Start" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ALTERNATIVE_JRE_PATH" value="18" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="PrivatePR" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.goldenalf.privatepr.PrivatePrApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>